<div class="header">

  <div class="logo">
    <%= link_to "MindfulBooks", root_path %>
    <!-- link to root_path -->
  </div>

  <div class="navigation">

    <% if user_signed_in? %>
      <%= link_to "My Profile", profile_path(current_user.profile.id) %>
    <% end %>

    <% if !user_signed_in? %>
      <%= link_to "Log In", new_user_session_path %>
    <% else %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    <% end %>

  </div>

</div>
