<div class="header">

  <div class="logo">
    <%= link_to "MindfulBooks", root_path %>
    <!-- link to root_path -->
  </div>

  <div class="navigation">
    <%= link_to "Home" %>
    <%= link_to "About" %>
    <%= link_to "Log In" %>
    <!-- If user logged in, profile management, else log in -->
  </div>

</div>
