/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// COLOURS
$main-colour:            #C7D66D;
$lighter-main-colour:    #DCEAB2;
$off_colour:             #82735C;

// BODY
body {
  font-family: 'Noto Sans', sans-serif;
}

// CONTAINER
.container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  padding: 0 20px;
  max-width: 1020px;
  min-width: 360px;
}

// HEADER
.header {

  background: $main-colour;

  width: 100%;
  height: 50px;
  top: 0;
  padding-left: 20px;

  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  a {
    text-decoration: none;
    color: white;
  }

  .navigation {
    padding-right: 50px;
  }

}

// FOOTER
.footer {
  background: $off_colour;
  color: white;

  width: 100%;
  height: 50px;
  padding-top: 3px;
  text-align: center;
}

// FORM
.form {

  h2 {
    padding-top: 50px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-field {
    min-height: 50px;
    max-height: 50px;
    min-width: 50%;
    max-width: 50%;
    border-radius: 5px;
  }

  .form-area {
    min-height: 100px;
    max-height: 100px;
    min-width: 50%;
    max-width: 50%;
    border-radius: 5px;

  }

}
