// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// PROFILE INFO

h2 {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.profile-info {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .profile-details {
    border: 1px solid grey;
  }

  .profile-photo {

    img {
      border: 1px solid grey;
      border-radius: 5px;
      max-height: 300px;
      max-width: 250px;
    }
  }

}
