<div class="container">

  <h2> Welcome to MindfulBooks! </h2>

  <div class="product-options">
    <h3> Book suggestions: </h3>
    <% @products.each do |product| %>

      <div class="product-listing">
        <%= link_to product_path(product.id) do %>
          <%= product.name %>
        <% end %> -->
      </div>

      <div class="product-listing-pic">
        <% if product.product_photo %>
          <%= image_tag product.product_photo.image %>
        <% end %>
      </div>

      <% end %>

  </div>
</div>
